.back-image {
  width: 100%;
  height: 90%;
  z-index: 0;
  position: absolute;

  &:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    background: rgba(30, 47, 60, 0.75);
    background-image: radial-gradient(circle at 20% 50%, rgba(30, 47, 60, 0.75) 0%, rgba(48, 65, 78, 0.75) 100%);
  }
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.tile-container {
  height: 90vh;
  padding-top: 20px;
}

.is-child {
  background-color: antiquewhite;
}

.is-parent {
  display: flex;
  text-align: start;
}

.hero.is-dark .title {
  color: antiquewhite;
}
