.navbar-title {
  margin-bottom: 0;
  color: antiquewhite;
  padding-left: 20px;
  padding: 10px;
}

.navbar {
  background-color: #363636;
}

.navbar-item {
  color: antiquewhite;
}

.title {
  margin-bottom: 0;
}
.subtitle {
  padding-right: 15px;
  margin-right: 15px;
}

.subtitle:not(:last-child) {
  margin-bottom: 0;
}
