.App {
  height: 100%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: darkslategrey;
}

.card {
  background-color: antiquewhite;
  min-width: 200px;
  margin: 3px;
}

.footer {
  background-color: #363636;
  color: antiquewhite;
}

.input {
  margin-bottom: 5px;
}